 #preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #000000;
     z-index: 99;
    height: 100%;
 }
#status  {

     width: 500px;
     height: 500px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-color: #000;
     background-image: url(loadingfinalcompressed.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -250px 0 0 -250px;
 }